<body>
    <h1>Upload Documents</h1>
    <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Select Document:</label>
        <input type="file" id="file" name="file" accept=".pdf, .doc, .docx, .txt">
        <button type="submit">Upload</button>
    </form>

    {{#if documents}}
        <ul>
            {{#each documents}}
                <li><a href="{{this.path}}" target="_blank">{{this.originalName}}</a></li>
            {{/each}}
        </ul>
        {{else}}
        <p>No documents found.</p>
    {{/if}}

</body>
<script>
    window.uid = "{{ userInfo.id }}";
</script>

<script src="../../js/documents.js"></script>