<div class="login-container">
  <form id="login-form" class="login-form">
    <h2>LogIn</h2>
    <div class="form-group">
      <label for="username">Email:</label>
      <input type="text" id="email" name="username" required />
    </div>
    <button id="forgotPassword" type="submit">Forgot my password</button>
  </form>
</div>

<script src="../js/forgotPassword.js"></script>