<div class="login-container">
    <form id="login-form" class="resetPasswordForm">
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button id="resetPassword" type="submit">Reset Password</button>
    </form>
</div>

<script src="../js/resetPassword.js"></script>